{# This is right below the 'forgot password' #}

<hr />

<div class="center-align">
    <form method="post" action="{{ linkTo({'module': 'PkceOIDC', 'action': 'signin'}) }}">
        <input type="hidden" name="form_nonce" value="{{ nonce }}" />
        <button class="btn loginoidc-auth-button" type="submit">
            {{ caption }}
        </button>
    </form>
</div>

{% if settings is defined and settings.autoSubmitLoginForm is defined and settings.autoSubmitLoginForm.value %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.loginoidc-auth-button').closest('form').submit();
    });
</script>
{% endif %}
